<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991902643248-2pi3gcaj0vid7fu1m1ip9nmik7em4ura.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991902643248-2pi3gcaj0vid7fu1m1ip9nmik7em4ura</string>
	<key>API_KEY</key>
	<string>AIzaSyAEFBZuUf6UeVq3cxNInmGo2Ub-qMs5QiI</string>
	<key>GCM_SENDER_ID</key>
	<string>991902643248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.daviddubez.Boursobook</string>
	<key>PROJECT_ID</key>
	<string>boursobook</string>
	<key>STORAGE_BUCKET</key>
	<string>boursobook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991902643248:ios:80858c0e2bfbabfb</string>
	<key>DATABASE_URL</key>
	<string>https://boursobook.firebaseio.com</string>
</dict>
</plist>