<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132409220441-68vqmkj97j0a83mc8u46i91it50oq1df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132409220441-68vqmkj97j0a83mc8u46i91it50oq1df</string>
	<key>API_KEY</key>
	<string>AIzaSyBNMeO6yrgUVieHPZXvXQerzjf-B0wZw_I</string>
	<key>GCM_SENDER_ID</key>
	<string>132409220441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.daviddubez.Boursobook</string>
	<key>PROJECT_ID</key>
	<string>boursobook-test</string>
	<key>STORAGE_BUCKET</key>
	<string>boursobook-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132409220441:ios:80858c0e2bfbabfb</string>
	<key>DATABASE_URL</key>
	<string>https://boursobook-test.firebaseio.com</string>
</dict>
</plist>